<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">

            <div class="product-image">
                <img v-bind:src="image" alt="green socks">
            </div>

            <div class="product-info">
                <h1>{{product}}</h1>
                <span v-show="onSale">On Sale</span>
                <p v-if= "inventory > 5">In Stock</p>
                <p v-else-if= "inventory <=10 && inventory > 0">Almost out of stock</p>
                <p v-else>Out of Stock</p>

                <ul>
                    <li v-for= "detail in details">{{detail}}</li>
                </ul>
                
                <div v-for="variant in variants" :key="variant.variantsId">
                    <p>{{variant.variantsColor}}</p>
                </div>

                <button v-on:click="addToCart">Add to Cart</button>

                <div class="cart">
                    <p>Cart{{cart}}</p>
                </div>
            </div>
            
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>